
/* Design tokens and global styles */
:root {
  --gordian-blue: #0088cc;
  --gordian-red: #cc0000;
  --gordian-black: #000000;
  --gordian-white: #ffffff;
  --gordian-text: #778F93;
  --font-main:'Roboto Flex', sans-serif;
}

/* Base body styles */
body {
    min-height: 100vh;
    background: #2B2F36;
    background: linear-gradient(0deg,rgba(43, 47, 54, 1) 53%, rgba(11, 13, 16, 1) 100%);
    color: var(--gordian-white);
    margin: 0;
    padding: 80px 0 0;
    font-family: var(--font-main);
}

.text-blue { color: var(--gordian-blue); }
.text-red { color: var(--gordian-red); }